@charset "utf-8";

@import "colors";
@import "fonts";
@import "mixins";

$body-bg: lighten($off-white, 7%);
$navbar-default-bg: $slate;
$navbar-default-link-color: $body-bg;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-hover-color: $mustard;
$navbar-default-color: $navbar-default-link-color;
$hr-border: #333;

$font-family-serif: "Gentium Book Basic", Hoefler Text, Georgia, Times New Roman, Times, serif;
$font-family-base: $font-family-serif;
$font-size-base: 17px;

$blockquote-font-size: $font-size-base;

$headings-font-family: "Raleway";

@import "bootstrap-custom";
@import "sidebar";
@import "littlefoot/littlefoot";

body {
  overflow-x: hidden;
}

.midline {
  display: flex;
  flex-direction: horizontal;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;

  .midline-line {
    height: 2px;
    background-color: $text-color;
    flex-grow: 1;

    &.left {
      margin-right: 20px;
    }

    &.right {
      margin-left: 20px;
    }

    .navbar & {
      background-color: $navbar-default-color;
    }
  }

  .navbar-text {
    margin-left: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.topline-widget, .bottomline-widget {
  display: flex;
  flex-direction: horizontal;
  margin-top: 20px;
  margin-bottom: 20px;

  .left, .right {
    background-color: $text-color;
    width: 15px;
    height: 15px;
  }

  .center {
    background-color: $text-color;
    flex-grow: 1;
    height: 1px;
  }

  .article-header & {
    margin-bottom: 100px;
  }
}

.topline-widget {
  align-items: flex-start;
}

.bottomline-widget {
  align-items: flex-end;
}

.navbar {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
  }
}

.content-container {
  width: calc(100% - 40px);
  max-width: $screen-sm-min;
  margin-left: auto;
  margin-right: auto;

  &:last-child {
    margin-bottom: 50px;
  }

  .content-container & {
    margin-bottom: 12px;
  }

  &.columns {
    @media (min-width: $screen-md) {
      column-count: 2;
      column-gap: 60px;

      header {
        column-span: all;
      }
    }
  }

  header {
    margin-bottom: 20px;
  }

  h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  hr {
    margin-bottom: 10px;
  }
}

.article-title {
  font-family: Raleway;
  font-size: ($font-size-h3 + $font-size-h4) / 2;
  line-height: ($font-size-h3 + $font-size-h4) / 2;

  small {
    font-size: $font-size-base;
    line-height: $font-size-base;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  margin-bottom: 5px;
}

.article-header {
  text-align: center;
}

.frontmatter {
  @media(min-width: $screen-md) {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
  }

  .credits {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin-right: 40px;

    @media(min-width: $screen-md) {
      width: 250px;
      flex-shrink: 0;
    }

    @media(max-width: $screen-md - 1) {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    h1, h2, h3, h4, h5, h6 {
      letter-spacing: 1px;
      margin: 5px;
    }

    header {
      margin-bottom: 40px;
    }

    footer {
      margin-top: 40px;
    }

    section {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .copyright {
    flex-grow: 1;
  }
}

.black-square {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: $text-color;
}

.pull-quote {
  font-family: Raleway Light;
  font-size: ($font-size-h3 * 0.9);
  font-style: italic;
  width: calc(100% - 40px);
  max-width: 350px;
  text-align: center;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

img.text-clip {
  width: 100%;
  height: auto;
  shape-margin: 20px;

  &.a-time-to-not-kill-dead-man {
    width: 170%;
    float: right;
    margin-right: -100%;
    shape-outside: image-url('/vol1/images/a-time-to-not-kill-dead-man.png');
  }

  &.harnessing-the-glowing-rectangle-circuit {
    float: left;
    margin-left: -44%;
    shape-outside: image-url('/vol1/images/harnessing-the-glowing-rectangle-circuit.png');
  }

  &.running-out-of-the-box-index-box {
    width: 65%;
    float: right;
    margin-right: -13%;
    shape-outside: image-url('/vol1/images/running-out-of-the-box-index-box.png');
  }

  &.running-out-of-the-box-chest {
    width: 111%;
    float: left;
    margin-left: -8%;
    shape-outside: image-url('/vol1/images/running-out-of-the-box-chest.png');
  }

  &.secrecy-in-intercon-style-larp-envelope {
    width: 86%;
    float: left;
    margin-left: -27%;
    shape-outside: image-url('/vol1/images/secrecy-in-intercon-style-larp-envelope.png');
  }

  &.secrecy-in-intercon-style-larp-spoiler-alert-sign {
    width: 50%;
    float: right;
    margin-right: -15%;
    shape-outside: image-url('/vol1/images/secrecy-in-intercon-style-larp-spoiler-alert-sign.png');
  }
}

img.editors-note-portrait {
  float: right;
  max-width: 300px;
  width: calc(100% - 40px);
  height: auto;
  margin: 20px;
}