@charset "utf-8";

@import "colors";
@import "fonts";
@import "mixins";

$vol2-teal: #42B4AC;
$vol2-indigo: #47497E;
$vol2-mint: #dceddd;

$body-bg: desaturate(lighten($vol2-mint, 9%), 10%);
$navbar-default-bg: $vol2-indigo;
$navbar-default-link-color: $body-bg;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-hover-color: $vol2-mint;
$navbar-default-color: $navbar-default-link-color;
$hr-border: #333;

$brand-danger: $vol2-teal;

$font-family-serif: "Gentium Book Basic", Hoefler Text, Georgia, Times New Roman, Times, serif;
$font-family-base: $font-family-serif;
$font-size-base: 17px;

$blockquote-font-size: $font-size-base;

$headings-font-family: "Raleway";

@import "bootstrap-custom";
@import "sidebar";
@import "littlefoot/littlefoot";

@import "book_common";

.navbar {
  margin-bottom: 0;
}

.navbar-default .logo-text {
  color: white;
  text-shadow: 3px 3px 0 $vol2-teal;
}

.the-asylum-game-paper-airplane {
  background-image: url(/vol2/images/the-asylum-game-paper-airplane.jpg);
  width: 100%;
  height: 400px;
  max-height: 50vh;
  background-position: center;
  background-size: cover;
}

img.text-clip {
  &.from-bad-to-better-wastebasket {
    width: 100%;
    float: right;
    margin-right: -30%;
    shape-outside: image-url('/vol2/images/from-bad-to-better-wastebasket.png');
  }

  &.chekovs-crew-hats {
    float: right;
    margin-right: -40%;
    shape-outside: image-url('/vol2/images/chekovs-crew-hats.png');
  }

  &.chekovs-crew-cyber {
    width: 65%;
    float: left;
    margin-left: -50%;
    shape-outside: image-url('/vol2/images/chekovs-crew-cyber.png');
  }

  &.secrecy-in-intercon-style-larp-envelope {
    width: 86%;
    float: left;
    margin-left: -27%;
    shape-outside: image-url('/vol1/images/secrecy-in-intercon-style-larp-envelope.png');
  }

  &.secrecy-in-intercon-style-larp-spoiler-alert-sign {
    width: 50%;
    float: right;
    margin-right: -15%;
    shape-outside: image-url('/vol1/images/secrecy-in-intercon-style-larp-spoiler-alert-sign.png');
  }
}
