= navbar_item "/vol2/editors-note" do
  .article-title Editor's Note
  %em by Viktoriya Fuzaylova

%li
  .midline
    .midline-line.left
    %h3.navbar-text.text-uppercase{style: "margin: 0"} Articles

= navbar_item "/vol2/some-article-or-other" do
  .article-title
    Some Article or Other
    %br
    %small
      On Some Topic
  %em by Some Writer

%hr

= navbar_item "Return to Game Wrap site", "/"