%p.text-center{style: 'margin-bottom: 30px; margin-top: 30px;'}
  = link_to "#", class: "btn btn-danger", style: "position: relative; padding-right: 56px;" do
    = image_tag "/vol1/images/book-icon.png", alt: "Print edition", style: "position: absolute; right: 5px; top: -10px; width: auto; height: 56px;"
    Buy the print edition

%p.text-center{style: 'margin-bottom: 30px'}
  = link_to "#", class: "btn btn-danger", style: "position: relative; padding-left: 56px;" do
    = image_tag "/vol1/images/Pdf_by_mimooh.svg", alt: "PDF icon by Mimooh (CC BY-SA 3.0)", style: "position: absolute; left: -6px; top: -10px; width: auto; height: 56px;"
    Download the PDF