---
title: Ideas
---

:markdown
  # Ideas

  If you’re not quite ready to submit a proposal, but have an idea for an article that you’d like to
  run past us, you can tell us about it. A member of the editorial staff will reach out to you
  about your idea. We’re happy to help you workshop your idea, provide advice or just let you know
  whether your idea would be a good fit for Game Wrap.

%a.btn.btn-primary{href: 'mailto:NEILGameWrap@gmail.com?cc=brian.richburg@gmail.com&subject=Game Wrap idea'}
  %span.glyphicon.glyphicon-envelope
  &nbsp;
  Email us about your idea and we'll get back to you soon
