---
title: Submissions
---

:markdown
  # Submissions

  **We are now accepting submissions for Game Wrap Volume 2.**

  If you would like to be a contributing author in our second volume (publication timing TBD), please submit a short abstract describing the topic you want to write about and how you plan on addressing your topic (e.g. interviews? literature review? personal essay? analysis of some aspect of LARP using an existing theory? etc.). Our editorial staff will review the abstract, possibly ask some clarifying questions or make suggestions, and give the go ahead to write your piece. Papers should be approximately 5-10 pages. Once written, articles will be reviewed, edited, and included in the upcoming issue.

  For authors whose articles relate to a LARP that they have written, there is the possibility of publishing the LARP materials alongside your essay. We will typically publish 1-2 such LARPs per volume.

  **The deadline for abstracts for Game Wrap Volume 2 is July 31, 2016.**

#submissions-form
