---
title: Submissions
---

:markdown
  # 2016 Submissions

  **Submissions for our early 2015 issue are now closed.**
  
  If you would like to be a contributing author in our next issue (to be published early 2016), please submit a short abstract describing the topic you want to write about and how you plan on addressing your topic (i.e. interviews? literature review? personal essay? analysis of some aspect of larp using an existing theory? etc.). Our editorial staff will review the abstract, possibly ask some clarifying questions or make suggestions, and give the go ahead to write your piece. Once written, articles will be reviewed, edited, and included in this issue. 
  
  Here are some general ideas of possible topics as an example or to spark your own creativity. The possibilities are endless, and if you are not entirely sure about an idea, submit an abstract and we will happily work with you on refining it.
  
  * GMing tactics: how to solve various runtime crises such as player drops, problem players, improvising to meet players who go off script, etc.
  * How to approach certain kinds of roles, i.e. if you have a secret how do you roleplay that, how do you play a villain, a protagonist, etc.
  * Roleplaying the “other” - i.e. characters of other races
  * How to write a good casting form for the game you have
  * How to run a game someone else has written
  * What makes a good module?
  * How to write a GM bible
  * How to stuff a game
  * Why run someone else’s game?  Why have others run your game?
  * Analysis of a character sheet from the writer of the character sheet
  * Economies in campaign larp: why you'd want them, how to build them, how to keep them healthy
  * Making immersive non-combat focused modules in a boffer game
  * What makes a good horde game?
  * Tracing trends in design, theme, storytelling in recent larp
  * What killed the weekend-long?
  * Analyzing a specific boffer larp ruleset: what works and what doesn't
  * Costuming historical characters
  * Costuming on a budget
  * Submit your game for publication along with author’s notes about the writing process, how it runs, analysis, reflections, etc.
  
  The deadline for abstracts for the 2016 issue has not yet been set.
  

%form.form{method: "POST", action: "/submit-abstract.php", "data-validate-required" => true}
  
  .form-group
    %label.control-label{for: "name"} Your name
    %input#name.form-control{type: "text", name: "name"}
  
  .form-group
    %label.control-label{for: "email"} Your email address
    %input#email.form-control{type: "email", name: "email"}
  
  .form-group
    %label.control-label{for: "phone"} 
      Your phone number
      %small (in case we can't reach you by email)
    %input#phone.form-control{type: "tel", name: "phone"}
  
  .form-group
    %label.control-label{for: "submission_type"} Submission type
    %select#submission_type.form-control{name: "submission_type"}
      %option
      %option Article
      %option Larp
      %option Other (please describe below)
  
  .form-group
    %label.control-label{for: "title"} Title of submission
    %input#title.form-control{type: "text", name: "title", "data-optional" => true}
  
  .form-group
    %label.control-label{for: "abstract"} Abstract
    :markdown
      A short description of your submission.  Article abstracts should include information about the subject of your article and what you hope to say about it.  Larp abstracts should include a short description of the larp as well as what you hope to say about it in your author's notes.
    %textarea.form-control{name: "abstract", rows: 6}
  
  .form-group
    %label.control-label{for: "other_info"} Anything else you'd like to tell us?
    %textarea.form-control{name: "other_info", rows: 6, "data-optional" => true}
  
  .form-group
    %input.btn.btn-default{type: "submit"}