---
title: Submissions
---

:markdown
  # Submissions

  **We are now accepting submissions for Game Wrap Volume 3.**

  If you would like to be a contributing author in our third volume (publication timing TBD), please
  submit a short description of the topic you want to write about and how you plan on addressing your
  topic (e.g. is it an opinion piece? an interview? an analysis of an existing larp? etc.). Our editorial staff will review the abstract, possibly ask some
  clarifying questions or make suggestions, and give the go ahead to write your piece.
  Articles can be of any length, but are generally at least 1500 words, or [see our previous issues](/volumes)
  for some examples. Once written, articles will be reviewed, edited, and included in the
  upcoming issue.

  For authors whose articles relate to a larp that they have written, there is the possibility of
  publishing the larp materials alongside your author's notes. We will typically publish 1-2 such larps per volume.

  **The deadline for abstracts for Game Wrap Volume 3 is July 31, 2018.**

#submissions-form
