---
title: Submissions
---

:markdown
  # Submissions

  **We are now accepting submissions for Game Wrap Volume 2.**

  If you would like to be a contributing author in our second volume (publication timing TBD), please submit a short abstract describing the topic you want to write about and how you plan on addressing your topic (e.g. interviews? literature review? personal essay? analysis of some aspect of LARP using an existing theory? etc.). Our editorial staff will review the abstract, possibly ask some clarifying questions or make suggestions, and give the go ahead to write your piece. Papers should be approximately 5-10 pages. Once written, articles will be reviewed, edited, and included in the upcoming issue.

  For authors whose articles relate to a LARP that they have written, there is the possibility of publishing the LARP materials alongside your essay. We will typically publish 1-2 such LARPs per volume.

  **The deadline for abstracts for Game Wrap Volume 2 is July 1, 2016.**

#submission-form

:javascript
  React.render(React.createElement(SubmissionForm), document.getElementById('submission-form'));

%h1 HAML FORM BELOW THIS LINE

%form.form{method: "POST", action: "/submit-abstract.php", "data-validate-required" => true}

  .form-group
    %label.control-label{for: "name"} Your name
    %input#name.form-control{type: "text", name: "name"}

  .form-group
    %label.control-label{for: "email"} Your email address
    %input#email.form-control{type: "email", name: "email"}

  .form-group
    %label.control-label{for: "phone"}
      Your phone number
      %small (in case we can't reach you by email)
    %input#phone.form-control{type: "tel", name: "phone"}

  .form-group
    %label.control-label{for: "title"} Title of submission
    %input#title.form-control{type: "text", name: "title"}

  .form-group
    %label.control-label{for: "submission_type"} Submission type
    %select#submission_type.form-control{name: "submission_type", "data-display-if-target" => true}
      %option
      %option Essay with accompanying LARP scenario
      %option Article

  .alert.alert-warning{"data-display-if" => "select[name=submission_type] option:selected:contains('LARP')"}
    %h3{style: 'margin-top: 0'} Additional information about LARP submissions

    :markdown
      Game Wrap publishes LARP scenarios in conjunction with an essay concerning the design, writing process, or other topics specifically related to the attached LARP materials (as opposed to, for example, what happened in particular runs of the game).  If an essay discusses multiple LARPs, an article not including the LARP materials may be a better format for publication.

      The LARP is intended to serve as supplemental material to the author’s essay, allowing readers to examine the game being discussed. We are typically looking for short LARPs that contain everything necessary for play &mdash; including the scenario and all necessary rules.

  .form-group
    %label.control-label{for: "abstract_topic"} Abstract
    :markdown
      A short description of your submission.  Article abstracts should include information about the subject of your article and what you hope to say about it.  Larp abstracts should include a short description of the larp as well as what you hope to say about it in your author's notes.

      Please give us a short description of the topic of your article.
    %textarea.form-control{name: "abstract_topic", rows: 6}

  .form-group
    :markdown
      Please tell us what position you will be taking on that topic, or what the thesis of your article will be.
    %textarea.form-control{name: "abstract_thesis", rows: 6}

  .form-group
    :markdown
      Please tell us what method you’ll be using to address your topic (e.g. interviews? literature review? personal essay? analysis of LARP materials? etc.)
    %textarea.form-control{name: "abstract_methodology", rows: 6}

  .form-group{"data-display-if" => "select[name=submission_type] option:selected:contains('LARP')"}
    :markdown
      If you would like us to consider including a LARP you have written to supplement your article, please tell about the accompanying LARP. For instance, describe the scenario, rule system used (if any), number of players, and an approximate idea of how long the written materials for the LARP are.
    %textarea.form-control{name: "abstract_larp_info", rows: 6}

  .form-group
    %label.control-label{for: "other_info"} Anything else you'd like to tell us?
    %textarea.form-control{name: "other_info", rows: 6, "data-optional" => true}

  .form-group
    %input.btn.btn-default{type: "submit"}