---
title: Volumes
---

%h1 Volumes

%ul
  %li
    = link_to 'Volume 1', '/vol1'
    &mdash;
    2016
  %li
    = link_to 'Volume 2', '/vol2'
    &mdash;
    2017

%p
  Volume 3 is currently accepting submissions and ideas!  If you've got an article or LARP to submit,
  = link_to 'please do so here.', '/submissions'
  Or if you're not quite ready to submit a proposal, but have an idea for an article that you'd like to
  run past us, you can
  = link_to 'tell us about it here.', '/ideas'
